<nav>
  <div class="row">
    <div class="navOptions">
      <div class="one column" id="streamOpen">
        <i class="icon-three-bars" {{action 'toggleStreams'}}></i>
      </div>
      <div class="four columns" id="homePage">
        Twitch Watcher
      </div>
      <div class="offset-by-six one column" id="settings">
        <i class="icon-widget" {{action 'toggleSettings'}}></i>
      </div>
    </div>
  </div>
</nav>

<div id="streamsList">
  {{outlet}}
</div>
