
  <div class="streamContainer">
    <div>
      <object bgcolor="#000000"
        data="//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf"
        height="95%"
        type="application/x-shockwave-flash"
        width="100%">
        <param name="allowFullScreen"
            value="true" />
        <param name="allowNetworking"
            value="all" />
        <param name="allowScriptAccess"
            value="always" />
        <param name="movie"
            value="//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf" />
        <param name="flashvars"
            value="channel={{unbound stream.channel.name}}&auto_play=true&start_volume=25" />
      </object>
    </div>
  </div>
